In [3]:
import pandas as pd
from google.colab import drive
from google.colab import auth
auth.authenticate_user()
import gspread
from oauth2client.client import GoogleCredentials
drive.mount('/content/drive_share')

Mounted at /content/drive_share

In [22]:
mo = ['02']
fAll = []
dfAll = []
for m in mo:
    fAll.append(pd.read_csv('/content/drive_share/MyDrive/prjk_rsp/simak/simak_farmasi_21'+m+'.txt', sep = ",",header=None))
dfAll = pd.concat(fAll, ignore_index=True, axis=0)

In [23]:
dfAllH = dfAll[[7,13]][(dfAll[13] > 0)].drop_duplicates().groupby(by=[7]).count()
dfAllH[(dfAllH[13] > 1)]

               13
7
|01102019.1|    2
|011452201|     2
|013369|        3
|014752300|     2
|0192014.16|    2
|020200015|     2
|020200362|     2
|020200375|     2
|020280187|     2
|020700182|     2
|020800101|     2
|0215300000|    2
|022100061|     2
|022365|        2
|024300028|     2
|024300034|     2
|024300035|     2
|0332120|       2
|033245|        2
|04112015|      2
|1.010.002|     2
|1.010.246|     2
|101.066|       3
|1010243|       2
|2.010.035|     2
|2.040.017.1|   2
|2.040.049|     2
|2030022|       2
|205001|        2
|8.010.038|     2
|8.010.041|     2
|8.010.188|     2
|AA.016|        2
|AN.891|        2
|BH.011|        2
|GV.001|        2
|IK.100|        2
|SS0033|        2
|TA.841|        2
|TB.944|        2
|TC.212|        2
|TC.812|        2
|TG.751|        2
|TR.075|        2
|TS.096|        2
|TX.001|        2
|VG.013|        2
|VT.012|        3

In [24]:
dfAll[(dfAll[7] == '|013369|') & dfAll[13] > 0]

                          0            1       2   ...        13  14   15
391   |024040100415448241KD|  |RESFAR IV|  |2021|  ...  202263.6 NaN  | |
393   |024040100415448241KD|  |RESFAR IV|  |2021|  ...  202263.6 NaN  | |
401   |024040100415448241KD|  |RESFAR IV|  |2021|  ...  167160.0 NaN  | |
432   |024040100415448241KD|  |RESFAR IV|  |2021|  ...  202263.6 NaN  | |
2130  |024040100415448241KD|  |RESFAR IV|  |2021|  ...  183876.0 NaN  | |
3375  |024040100415448241KD|  |RESFAR IV|  |2021|  ...  183876.0 NaN  | |
3961  |024040100415448241KD|  |RESFAR IV|  |2021|  ...  183876.0 NaN  | |
4429  |024040100415448241KD|  |RESFAR IV|  |2021|  ...  183876.0 NaN  | |

[8 rows x 16 columns]

In [25]:
gc = gspread.authorize(GoogleCredentials.get_application_default())

worksheet = gc.open('rkp2021').worksheet('ALL')
rS07 = worksheet.get_all_values()

dfS07 = pd.DataFrame.from_records(rS07).iloc[1:]

In [27]:
#dfS07[(pd.to_numeric(dfS07[8]) > 0)][[0,8]]
dfS07[(dfS07[0] == '2102') & (dfS07[1] == '|013369|')]

        0         1                 2          3   ...   8    9         10   11
5066  2102  |013369|  |1.01.04.01.002|  RESFAR IV  ...  336  310  57001560  310

[1 rows x 12 columns]

In [ ]:
#(dfAll[((dfAll[3].str.contains('2021H')) | (dfAll[3].str.contains('2021I')) | (dfAll[3].str.contains('2021J'))) & ((dfAll[12].str.contains('\|K')))][[3,7,8,12]])
dfAll['kK'] = dfAll[7]+dfAll[6]
dfAllKS = ((dfAll.groupby(['kK'])).size().to_frame(name='ct').reset_index())
dfAllKS

In [ ]:
(new[new[13] > 1])

In [ ]:
dfAll[dfAll[8] < 0]